# ----------------------------------------------------
# OAuth2 Client Credentials
#
# Create an OAuth2 application and replace the
# placeholder values below.
# ----------------------------------------------------

# Google (https://console.cloud.google.com/)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
