<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="boilerplate-oauth2"/>
    <springProperty scope="context" name="activeProfiles" source="spring.profiles.active" defaultValue="default"/>

    <property name="LOG_PATTERN_PLAIN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE_STRUCTURED" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                          "level": "%level",
                          "logger": "%logger{36}",
                          "thread": "%thread",
                          "message": "%message",
                          "app": "${appName}",
                          "profile": "${activeProfiles}"
                        }
                    </pattern>
                </pattern>
                <mdc/>
                <arguments/>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter"/>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <appender name="CONSOLE_PLAIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN_PLAIN}</pattern>
        </encoder>
    </appender>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE_STRUCTURED"/>
        </root>
    </springProfile>

    <springProfile name="!prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE_PLAIN"/>
        </root>
    </springProfile>

</configuration>
