<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERROR 403 :: ACCESS DENIED</title>
    <link href="/css/retro.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>*** ACCESS VIOLATION ***</h1>
        <div class="ascii-art" style="color: #F00;">
 __  __     ______     ______     ______
/\ \_\ \   /\  ___\   /\  == \   /\  ___\
\ \  __ \  \ \  __\   \ \  __<   \ \  __\
 \ \_\ \_\  \ \_____\  \ \_\ \_\  \ \_____\
  \/_/\/_/   \/_____/   \/_/ /_/   \/_____/

        </div>
        <p>
            An attempt was made to access a protected memory address. This action has been logged.
        </p>
        <p>
            > ERROR CODE: 403<br>
            > You do not have the required security clearance to access this resource.
        </p>

        <div style="text-align: center; margin-top: 30px;">
            <a href="javascript:history.back()" class="btn">[BACK] > RETURN TO PREVIOUS SCREEN</a>
            <span class="cursor"></span>
        </div>
    </div>
</body>
</html>
