<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACCOUNT SUSPENDED</title>
    <link href="/css/retro.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 style="color: #F00;">ACCOUNT SUSPENDED</h1>
        <p>
            This account has been suspended by a system administrator.
        </p>
        <p>
            > REASON: POLICY_VIOLATION<br>
            > Please contact support for more information.
        </p>

        <div style="text-align: center; margin-top: 30px;">
            <a href="/" class="btn">[ROOT] > RETURN TO MAIN MENU</a>
            <span class="cursor"></span>
        </div>
    </div>
</body>
</html>
